
h1{
    color:aliceblue;
    background-color:black;
}
span{
    color: aqua;
}
h2{
    background-color:blueviolet;
    color: aliceblue
}
h3{
    text-align: right;
    text-decoration: underline;
    background-color:aquamarine ;
}