*{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: sans-serif;
}
.countainer{
    margin: 0 auto;
    padding: 0 auto;
}
form{
    margin-left: 250px;
    margin-top: 50px;
    width: 50%;
    height: 900px;
}
.user{
    text-align: center;
}
