body {
    font-family:sans-serif;
    background-color:silver;
    margin-left:100px;
    margin-top: 50px;
}

form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
label {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 4px;
    box-sizing: border-box;
}